* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

ul {
  list-style: none;
  color: w;
}

body {
  background-color: #121214;
  background-image: url(./assets/bg.svg);
  background-position-x: center;
  background-position-y: 55, 6%;
}

body * {
  font-family: "Roboto";
}

#app {
  width: fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background-color: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 6px;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid #746615;
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #f7dd43;
}

.card span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}
.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

@-webkit-keyframes img {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes img {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.card ul li img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.card ul li img:hover,
.card ul li img:focus,
.card ul li img:active {
  -webkit-animation-name: img;
  animation-name: img;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
